#secretary

-e git+https://github.com/isu-enterprise/isu.enterprise#egg=isu.enterprise
-e git+https://github.com/isu-enterprise/isu.webapp#egg=isu.webapp
-e git+https://github.com/isu-enterprise/isu.onece#egg=isu.onece
-e git+https://github.com/isu-enterprise/icc.mvw#egg=icc.mvw
-e git+https://github.com/isu-enterprise/pyramid_storage#egg=pyramid_storage
lxml
xlrd
pandas
marisa-trie
pymorphy2
#pyramid_storage
pyramid_debugtoolbar
pyramid_chameleon
pyramid_zcml
waitress
asq
-e .