#secretary

-e git+https://github.com/isu-enterprise/isu.webapp#egg=isu.webapp
-e git+https://github.com/isu-enterprise/pyramid_storage#egg=pyramid_storage
lxml
xlrd
pandas
marisa-trie
pymorphy2
#pyramid_storage
